html{
    height: 100vh;
    max-height: 100vh;
}
body{
    display: block;
    background-color:lightblue;
    font-size: 100%;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    
}
#root, .Oberflaeche{
    height: 100vh;
    max-height: 100vh;
    
}

@media screen and (orientation: portrait){
    body{
        background-color: black;
        height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
    }
    .Kompassstreifen_Hidden{
        display: none;
    }
    .AppBar{
        display: block;
    }
    .Nav{
        display:block;
    }

    .Streifen{
        height: 83vh;
        max-height: 83vh;
    }
    .MultiPaper-root, .MuiCard-root, .Streifenkarte, .MuiPaper-elevation8, .MuiPaper-rounded{
        height: 100%;
        max-height: 100%;
    }
    .Karteninhalt{
        height: 85%;
        max-height: 85%;
        overflow-y: scroll;
    }
    /*Weitere geschachtelte @media-Anfragen, um Höhe der Streifen auf die passenden Geräte anzupassen*/
}

@media screen and (orientation: landscape){
    body{
        background: radial-gradient(white, black);
    }
    .Kompass{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 0.8%;
        padding-top: 0.8%;
        height: 80vh;
        max-height: 80vh;
        z-index: 4;
    }
    .Streifen_Container{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        height: 80vh;
        max-height: 80vh;
    }
    .Kompassstreifen_Active{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        height: 80vh; 
        max-height: 80vh;       
    }
    .Kompassstreifen_Hidden{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        height: 80vh;
        max-height: 80vh;   
    }
    .Nav{
        z-index: 42;
    }
    .Streifen{
        height: 80vh;
        max-height: 80vh;
    }
    .MultiPaper-root, .MuiCard-root, .Streifenkarte, .MuiPaper-elevation8, .MuiPaper-rounded{
        height: 100%;
        max-height: 100%;
    }
    .Karteninhalt{
        height: 90%;
        max-height: 90%;
        overflow-y: scroll;
    }

    .KarteninhaltCovered{
        height: 80vh;
        max-height: 80vh;
    }

}